@font-face { font-family: 'Ramche'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2'); font-weight: normal; font-style: normal; }

body {font-family: 'Ramche'; background: #000; color:#fff; max-width: 1024px; margin: 0px auto;}
input {font-family: 'Ramche';}
*{box-sizing: border-box;}
/* 메인 셋팅 */
#root {width:100%; display: flex; justify-content: center; align-items: flex-start; height: 100vh; ;}
.main {
  width: 50%;
  display: flex; justify-content: center; flex-direction: column;
  text-align: center;
  a { text-decoration: none; color: #fff; margin-top:10px; font-size: 20px; text-align: right; }
  img {max-width: 100%; margin:0px auto;}
  form {
    display: flex;
    flex-direction: column;
    label {
      width: 100%;
      display: flex;
      margin: 10px auto;
      p {width: 80px; text-align: left;}
      input {
        width: calc(100% - 80px);
        background: #000;
        border:0;
        border-bottom:1px solid #fff;
        color: #fff;
      }
    }
    input[type=submit] {
        padding:20px 0;
        background: #07acf0;
        color: #fff;
        border: 0;
    }
  }
}

.join {
  width: 460px;
  text-align: center;
  > p {margin:30px 0;}
  > label {
    display: flex;
    p {
      width: 80px;
    }
    input {
      width: calc(100% - 80px);
    }
  }
  figure {
    margin:20px 0;
    display: flex; flex-wrap: wrap;
    gap: 25px;
    label{
      display: flex; flex-direction: column;
      img {width: 35px;}
    }
    &.emp {
      justify-content: space-around;
      label {
        text-align: center;
        img {width: 80px;}
        input {margin:10px 0;}
      }
    }
    &.icon{
      height: 155px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 3px;
        background-color: black;
      }
      &::-webkit-scrollbar-thumb {background: #fff; border-radius: 20px;}
      &::-webkit-scrollbar-track { background-color: rgb(168, 168, 168);}
    }
  }
  ul{
    display: flex;
    list-style: none;
    gap: 10px;
  }
  button{
    width: 100%;
    padding:10px 20px;
    background: #07acf0;
    color: #fff;
    border: 0;
  }
  input[type=submit] {
    display: inline-block;
    width: 50%;
    margin:20px 0; 
    padding:10px 20px;
    background: #07acf0;
    color: #fff;
    border: 0;
  }
  a{
    width: 50%; display: inline-block;
    background: #b94242;
    color: #fff;
    padding:8.5px 20px;
    text-decoration: none;
  }
}


.ingame{
  display: flex; flex-direction: column;
  width: 100%;
  header {
    display: flex; justify-content: space-between; align-items: center;
    border-bottom: 1px solid #fff;
    margin-bottom:40px;
    figure {
      width: 100px;
      img{width: 100%; object-fit: cover; cursor: pointer;}
    }
    ul {
      list-style: none;
      display: flex;
      gap: 50px;
      li {
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  main {
    border-bottom: 1px solid #fff;
    padding-bottom:40px;
    margin-bottom:40px;
  }
  .userstaters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom:40px;

    .usereq {
      width: 30%;
      display: flex; flex-direction: column;
    }


    .userstate{
      width: 20%;
      ul {
        list-style: none;
        margin:0; padding:0; height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        li {
          text-align: left;
          button {
            background: #000;
            color: #fff;
            border: 1px solid #fff;
            cursor: pointer;
          }
          input {
            width: 45px;
            background: #000;
            color: #fff;
            border: 0;
            border-bottom: 1px solid #fff ;
            text-align: center;
          }
        }
      }
    }

    .userinfo {
      width: calc(100% - 50%);
      display: flex;
        .usericon {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center; align-items: center;
          img {width: 40px; object-fit: contain;}
        }
        .userdata {
          width: calc(100% - 40%);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
    }
  }

  main {
    > .inves p { display: inline-block;}
    > .invan li {
      display: flex; align-items: center;
    } 

    &.notice {
      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
          text-decoration: none;
          color: #fff;
        }
        li {
          display: flex;
          justify-content: space-between;
          padding:20px 0;
          border-bottom: 1px solid #fff;
          &.section:last-child{border-bottom: 1px solid #fff;}
          &:last-child{border-bottom: 0;}
          div {
            width: 30%;
            text-align: center;
            &:nth-of-type(1) {text-align: left;}
            &:nth-of-type(3) {text-align: right;}
          }
        }
      }
    }
    &.noticedetail {
      h1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
        p{
          margin: 0 0 0 20px;
          font-size: 16px;
        }
      }
      > div p {
        white-space: pre-line;
        line-height: 1.5;
      }
      a{text-decoration: none; color:#fff}
    }
  }

  .map {
    ul{
      display: flex;
      justify-content: space-between;
      text-align: center;
      list-style: none; margin:0; padding:0;
      li {
        button{
          background: #000;
          border: 1px solid #fff;
          color:#fff;
          font-family: 'Ramche';
          padding:10px;
          width: 100px;
        }
      }
    }
    section.battle {
      margin:0;
      p{text-align: center;}
      > div {
        position: relative;
        > figure{
          margin:0;
          width: 100%;
          height: 110px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        section {
          position: absolute;
          top:0;
          display: flex;
          align-items: center;
          height: 100%;
          justify-content: space-between;
          width: 100%;
          figure img {width: 100%; object-fit: cover;}
          figure:nth-of-type(1) {
            width: 100px;
            transform: translateX(0);
            animation: figth 2s forwards;
          }
          figure:nth-of-type(2) {
            width: 100px;
            transform: translateX(0);
            animation: figth2 2s forwards;
          }
        }
        @keyframes figth {
          0% {transform: translateX(0);}
          100% {transform: translateX( calc(1024px / 2 - 150px));}
        }
        @keyframes figth2 {
          0% {transform: translateX(0);}
          100% {transform: translateX( calc(-1024px / 2 + 150px) );}
        }
      }
      > div.log {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:40px auto;
        p {
          display: block;
        }
      }
      > div.info {
        display: flex;
        > div {
          width: 50%;
          text-align: center;
          margin:40px 0;
        }
      }
      a { 
        text-decoration: none; color:#fff; 
        display: block; width: 300px; margin:0 auto;
        padding:20px 0;
        text-align: center; border:1px solid #fff;}
    }



  }

  footer{
    ul{
      margin:0 0 40px; list-style: none;
      display: flex;
      gap: 30px;
      li {
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
    p{
      text-align: center;
    }
  }
}